<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ subtitle }}"/>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{{ 'css/styles.css' | url }}">

    <link rel="shortcut icon" href="{{ 'img/rainbowsserver.ico' | url }}" type="image/x-icon">

</head>
<body>

<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll text-uppercase" href="/">
                            Главная
                        </a>
                    </li>
                    {%- for page in collections.languages -%}
                    <li class="nav-item">
                        <a class="nav-link page-scroll text-uppercase" href="{{ page.data.url }}">
                            {{ page.data.title }}
                        </a>
                    </li>
                    {%- endfor -%}
                    <li class="nav-item">
                        <a class="nav-link page-scroll d-flex flex-row align-items-center text-primary" href="https://github.com/rbteam/portal/">
                            <i class="fab fa-github" style="margin-right: 5px"></i>
                            Github
                        </a>
                    </li>
                    </ul>
                <ul>
            </div>
        </nav>
    </div>
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black">Rainbow's Server.<br>Языки программирования.</h1>
                <p class="lead py-3">{{ subtitle }}</p>
                <a class="btn btn-primary d-inline-flex flex-row align-items-center" href="pages/html_css/index.html">
                    Читать
                    <em class="ml-2" data-feather="arrow-right"></em>
                </a>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mr-auto">
                <h5>Что это</h5>
                <p class="text-muted">{{ content | safe }}</p>
                <ul class="list-inline social social-lg">
                    <li class="list-inline-item mr-4">
                        <a href="https://discord.gg/CtRp5GB"><img src="img/rainbowsserver.png" width="40" alt=""></a>
                    </li>
                    <li class="list-inline-item">
                        <img src="img/romanov.png" width="220" alt="">
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="https://ra1nbow.xyz/rbs" target="_blank">Страница сервера</a></li>
                    <li><a href="https://github.com/rbteam/portal">Гитхаб</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2021 Rainbow's Server - Все права защищены<br>Создано с <a href="https://www.11ty.dev">Eleventy</a> и Markdown
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
